{{ define "main" }}
<main class="notes-index-main">
    <section class="notes-index-section">
        <table class="notes-index-table">
            <thead class="notes-index-head">
                <tr>
                    <td colspan="4">$ ls -la notes/ <span class="notes-index-total">total {{ len .Pages }}</span></td>
                </tr>
                <tr class="notes-index-columns">
                    <td>{{ i18n "table_id" }}</td>
                    <td>{{ i18n "table_date" }}</td>
                    <td>{{ i18n "table_title" }}</td>
                    <td>{{ i18n "table_tags" }}</td>
                </tr>
            </thead>
            <tbody>
                {{ $pages := .Pages }}
                {{ range $pages.ByDate.Reverse }}
                <tr class="notes-index-row">
                    <td class="notes-index-id">{{ slicestr .File.BaseFileName 0 5 }}</td>
                    <td class="notes-index-date">{{ .Lastmod.Format "2006-01-02" }}</td>
                    <td class="notes-index-title">
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </td>
                    <td class="notes-index-tags">
                        {{ range .Params.tags }}
                        <span class="notes-index-tag">{{ . }}</span>
                        {{ end }}
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </section>
</main>
{{ end }}
